<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authentication</title>
</head>
<body>


    <h3>welcome</h3>

    {%if user.is_authenticated%}
    <h1>hello {{fname}}</h1>
    <h3>u are logged in</h3>
    <button type="submit"><a href="/signout">Signout</a></button>
    
    {%else%}
    <button type="submit"><a href="/signin">Signin</a></button>
    <button type="submit"><a href="/signup">Signup</a></button>
    {%endif%}
</body>
</html>