{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Listings</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static '/home.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}" />
    <style>
        th {
            font-size: 15px;
            font-weight: 600;
        }

        td,
        button {
            font-size: 13px;

        }

        .btn-smaller {
            padding: 0.25rem 0.5rem;
            /* Adjust padding to make it smaller */
            font-size: 12px;
            /* Adjust font size to make it smaller */
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg p-2" style="background-color: rgb(245, 245, 245)">
            <div class="container-fluid">
                <h4 class="text-success">ShareSphere</h4>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0 d-flex justify-content-lg-center w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'institute_dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Course Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addcourse' %}">Add new course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>

                    {% if user.is_authenticated %}
                    <ul class="navbar-nav mb-2 me-5 mb-lg-0 w-50 d-flex justify-content-lg-end">
                        <li><i class="far fa-circle-user"></i></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-success" style="font-size: 20px; font-weight: bold" href="#"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <p>{{ user.first_name }}</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">My Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" role="tab"
                        aria-controls="v-pills-all" aria-selected="false">All Applications</a>
                    <a class="nav-link active" id="v-pills-approved-tab" data-toggle="pill" href="#v-pills-approved"
                        role="tab" aria-controls="v-pills-approved" aria-selected="true">Approved Applications</a>
                    <a class="nav-link" id="v-pills-pending-tab" data-toggle="pill" href="#v-pills-pending" role="tab"
                        aria-controls="v-pills-pending" aria-selected="false">Pending Applications</a>
                    <a class="nav-link" id="v-pills-rejected-tab" data-toggle="pill" href="#v-pills-rejected" role="tab"
                        aria-controls="v-pills-rejected" aria-selected="false">Rejected Applications</a>

                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <!-- all applications -->
                    <div class="tab-pane fade" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                        {% if all_applications %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sl no</th>
                                        <th>App ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>App Date</th>
                                        <th>Education</th>
                                        <th>Percentage</th>
                                        <th>English Proficiency Test</th>
                                        <th>Test Score</th>
                                        <th>Average Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for application in all_applications %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!-- Sl.No column -->
                                        <td>{{ application.application_id }}</td>
                                        <td>{{ application.full_name }}</td>
                                        <td>{{ application.email }}</td>
                                        <td>{{ application.application_date|date:"Y-m-d" }}</td>
                                        <td>{{ application.qualification1 }}</td>
                                        <td>{{ application.percentage1 }}</td>
                                        <td>{{ application.english_proficiency_test }}</td>
                                        <td>{{ application.english_score }}</td>
                                        <td>{{ application.average_percentage }}</td>
                                        <!-- Add more columns as needed -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button id="export-csv" class="btn btn-primary">Export to CSV</button>
                        <!-- Add the export button -->
                        <script>
                            // JavaScript code to handle CSV export
                            document.getElementById('export-csv').addEventListener('click', function () {
                                // Define the table element
                                var table = document.querySelector('.table');
                                // Create a new CSV Blob
                                var blob = new Blob([tableToCSV(table)], { type: 'text/csv;charset=utf-8;' });
                                // Create a download link
                                var link = document.createElement("a");
                                if (link.download !== undefined) {
                                    var url = URL.createObjectURL(blob);
                                    link.setAttribute("href", url);
                                    link.setAttribute("download", 'all_applications.csv');
                                    document.body.appendChild(link);
                                    link.click();
                                    document.body.removeChild(link);
                                }
                            });

                            // Function to convert table data to CSV format
                            function tableToCSV(table) {
                                var rows = [];
                                for (var i = 0; i < table.rows.length; i++) {
                                    var row = [];
                                    for (var j = 0; j < table.rows[i].cells.length; j++) {
                                        row.push(table.rows[i].cells[j].textContent);
                                    }
                                    rows.push(row.join(","));
                                }
                                return rows.join("\n");
                            }
                        </script>
                        {% else %}
                        <p class="text-dark">No applications for this course.</p>
                        {% endif %}
                    </div>

                    <!-- Approved Applications -->
                    <div class="tab-pane fade show active" id="v-pills-approved" role="tabpanel"
                        aria-labelledby="v-pills-approved-tab">
                        {% if approved_applications %}
                        <div class="table-responsive">
                            <form id="emailForm" method="post" action="{% url 'send_emails' course_id=course.id %}">
                                {% csrf_token %}
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Select</th> <!-- Add a checkbox column -->
                                            <th>Sl no</th>
                                            <th>App ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>App Date</th>
                                            <th>Education</th>
                                            <th>Percentage</th>
                                            <th>English Proficiency Test</th>
                                            <th>Test Score</th>
                                            <th>Average Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for application in approved_applications %}
                                        <tr>
                                            <td><input type="checkbox" name="selected_applications"
                                                    value="{{ application.application_id }}"></td>
                                            <!-- Checkbox for selecting applications -->
                                            <td>{{ forloop.counter }}</td>
                                            <!-- Sl.No column -->
                                            <td>{{ application.application_id }}</td>
                                            <td>{{ application.full_name }}</td>
                                            <td>{{ application.email }}</td>
                                            <td>{{ application.application_date|date:"Y-m-d" }}</td>
                                            <!-- Use the date filter to format the date -->
                                            <td>{{ application.qualification1 }}</td>
                                            <td>{{ application.percentage1 }}</td>
                                            <td>{{ application.english_proficiency_test }}</td>
                                            <td>{{ application.english_score }}</td>
                                            <td>{{ application.average_percentage }}</td>
                                            <!-- Add more columns as needed -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">Send Email</button>
                                <!-- Add a submit button for sending emails -->
                            </form>
                        </div>
                        {% else %}
                        <p class="text-dark">No approved applications for this course.</p>
                        {% endif %}
                    </div>

                    <!-- Pending Applications -->
                    <div class="tab-pane fade" id="v-pills-pending" role="tabpanel"
                        aria-labelledby="v-pills-pending-tab">
                        {% if pending_applications %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sl no</th>
                                        <th>App ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>App Date</th>
                                        <th>Education</th>
                                        <th>Percentage</th>
                                        <th>English Proficiency Test</th>
                                        <th>Test Score</th>
                                        <th>Average Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for application in pending_applications %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!-- Sl.No column -->
                                        <td>{{ application.application_id }}</td>
                                        <td>{{ application.full_name }}</td>
                                        <td>{{ application.email }}</td>
                                        <td>{{ application.application_date|date:"Y-m-d" }}</td>
                                        <td>{{ application.qualification1 }}</td>
                                        <td>{{ application.percentage1 }}</td>
                                        <td>{{ application.english_proficiency_test }}</td>
                                        <td>{{ application.english_score }}</td>
                                        <td>{{ application.average_percentage }}</td>
                                        <!-- Add more columns as needed -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <p class="text-dark">No pending applications for this course.</p>
                        {% endif %}
                    </div>

                    <!-- Rejected Applications -->
                    <div class="tab-pane fade" id="v-pills-rejected" role="tabpanel"
                        aria-labelledby="v-pills-rejected-tab">
                        {% if rejected_applications %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sl no</th>
                                        <th>App ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>App Date</th>
                                        <th>Education</th>
                                        <th>Percentage</th>
                                        <th>English Proficiency Test</th>
                                        <th>Test Score</th>
                                        <th>Average Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for application in rejected_applications %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!-- Sl.No column -->
                                        <td>{{ application.application_id }}</td>
                                        <td>{{ application.full_name }}</td>
                                        <td>{{ application.email }}</td>
                                        <td>{{ application.application_date|date:"Y-m-d" }}</td>
                                        <td>{{ application.qualification1 }}</td>
                                        <td>{{ application.percentage1 }}</td>
                                        <td>{{ application.english_proficiency_test }}</td>
                                        <td>{{ application.english_score }}</td>
                                        <td>{{ application.average_percentage }}</td>
                                        <!-- Add more columns as needed -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <p class="text-dark">No rejected applications for this course.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Application Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><strong>Application ID:</strong> <span id="appID"></span></li>
                        <li><strong>Full Name:</strong> <span id="fullName"></span></li>
                        <li><strong>Email:</strong> <span id="email"></span></li>
                        <li><strong>Gender:</strong> <span id="gender"></span></li>
                        <li><strong>Date of Birth:</strong> <span id="dob"></span></li>
                        <li><strong>Citizenship:</strong> <span id="citizenship"></span></li>
                        <li><strong>Country:</strong> <span id="country"></span></li>
                        <li><strong>Province/State/Territory:</strong> <span id="province"></span></li>
                        <li><strong>Street Address 1:</strong> <span id="address1"></span></li>
                        <li><strong>Street Address 2:</strong> <span id="address2"></span></li>
                        <li><strong>Postal/Zip Code:</strong> <span id="postalCode"></span></li>
                        <li><strong>Contact Number:</strong> <span id="contactNumber"></span></li>
                        <li><strong>Qualification Name:</strong> <span id="qualification"></span></li>
                        <li><strong>Institute Name:</strong> <span id="institute"></span></li>
                        <li><strong>Overall Percentage:</strong> <span id="percentage"></span></li>
                        <li><strong>Year of Passout:</strong> <span id="passingYear"></span></li>
                        <li><strong>English Proficiency Test:</strong> <span id="englishTest"></span></li>
                        <li><strong>Test Score:</strong> <span id="englishScore"></span></li>
                        <li><strong>Validity (Year):</strong> <span id="englishValidity"></span></li>
                        <li><strong>Policy Declaration Agreement:</strong> <span id="policyDeclaration"></span></li>
                        <li><strong>Average Percentage:</strong> <span id="averagePercentage"></span></li>
                        <li><strong>Application Date:</strong> <span id="appDate"></span></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Add Bootstrap JS scripts at the end of the body if needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>